.log-box {
    width: 100%;
    border-radius: 16px;
    border: 4px solid #ffcc00;
    background-color: #fff7d6;
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 24px;
    padding-bottom: 24px;
    height: 200px;
    overflow-y: scroll;
}

.log-box::-webkit-scrollbar {
    display: none;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
}
